

.home-container {
  padding-top: 100px;
  color: black;
  padding-bottom: 30px;
}

.parallax{
 width: 100%;
}

.section2-title{
  font-size: 90px;
  font-weight: 400;
  line-height: 70px;
  
}

.img-fluid{
  width: 200% !important;
  width: 482px;
    height: 912px;
    object-fit: cover;
    object-position: 50% 50%;
    
}

.section3-img{
  padding: 20px 0px;
}

.section3-title{
  line-height: 10px;
}

.abt-btn{
  margin-top: 40px;
}

.sec3{
  background-color: #999c68;
  padding: 300px 100px !important;
}

.btn-menu{
  margin-top: 20px;
}


.horizontal-scrollable {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 10px; 
  scroll-behavior: smooth;
 
}

.col-6{
  margin-left: 0;
  margin-right: 0;
}



.gallery::-webkit-scrollbar {
  display: none;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.gallery img {
  width: 20%;
  height: auto;
  object-fit: cover;
   
}



@media (max-width: 768px){
  .horizontal-scrollable{
    width: 100%;
   display: grid;
   overflow: hidden;

   
  }

  .gallery img{
    grid-template-columns: 1fr !important;
    width: 100%;
  }

  .col-6{
    width: 100%;
  }

  .parallax{
    height: 80% !important;
    
  }

  
}




/* Media Queries: Grid layout for larger screens */
@media (min-width: 768px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  
}
